In [1]:
#  Recyclable and Low Fat Products
# create a data frame
import pandas as pd
Products = {'product_id' : [0,1,2,3,4],
            'low_fats' : ['Y', 'Y', 'N', 'Y', 'N'],
            'recyclable' : ['N', 'Y', 'Y', 'Y', 'N']}
Products_table = pd.DataFrame(Products)
Products_table

   product_id low_fats recyclable
0           0        Y          N
1           1        Y          Y
2           2        N          Y
3           3        Y          Y
4           4        N          N

In [5]:
import pandas as pd
# Find the product_id Attribut and rows 1 and 3
def find_products(products: pd.DataFrame) -> pd.DataFrame:
    result = products[(products['low_fats'] == 'Y') & (products['recyclable'] == 'Y')]
    return result[['product_id']]

# Example Usage:
# Assuming 'products' DataFrame has columns 'product_id', 'low_fats', and 'recyclable'
# Replace this with your actual DataFrame

data = {'product_id': [1, 2, 3, 4],
        'low_fats': ['Y', 'Y', 'N', 'Y'],
        'recyclable': ['Y', 'Y', 'Y', 'N']}
products_df = pd.DataFrame(data)

filtered_products = find_products(products_df)
filtered_products

   product_id
0           1
1           2

In [21]:
# Select Data
def Select_Data(students : pd.DataFrame)->pd.DataFrame:
     return students[students.student_id == 101][['name', 'age']]
dataset = {'student_id':[101,53,128,3], 'name' :['Ulysses', 'William', 'Henery', 'Henery'],
           'age' : [13, 10, 6, 11]}
data = pd.DataFrame(dataset)
result = Select_Data(data)
result

      name  age
0  Ulysses   13

In [14]:
df = pd.DataFrame({'product_id' : [0,1,2,3,4],
            'low_fats' : ['Y', 'Y', 'N', 'Y', 'N'],
            'recyclable' : ['N', 'Y', 'Y', 'Y', 'N']})
df

   product_id low_fats recyclable
0           0        Y          N
1           1        Y          Y
2           2        N          Y
3           3        Y          Y
4           4        N          N

In [22]:
import sqlite3

In [23]:
cnn = sqlite3.connect('jupyter_sql_tutorial.db')

In [25]:
df.to_sql('Product', cnn)

5

In [26]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [27]:
%sql sqlite3:///jupyter_sql_tutorial.db

Traceback (most recent call last):
  File "c:\Users\mk744\AppData\Local\Programs\Python\Python310\lib\site-packages\sql\connection.py", line 45, in __init__
    engine = sqlalchemy.create_engine(
  File "<string>", line 2, in create_engine
  File "c:\Users\mk744\AppData\Local\Programs\Python\Python310\lib\site-packages\sqlalchemy\util\deprecations.py", line 281, in warned
    return fn(*args, **kwargs)  # type: ignore[no-any-return]
  File "c:\Users\mk744\AppData\Local\Programs\Python\Python310\lib\site-packages\sqlalchemy\engine\create.py", line 552, in create_engine
    entrypoint = u._get_entrypoint()
  File "c:\Users\mk744\AppData\Local\Programs\Python\Python310\lib\site-packages\sqlalchemy\engine\url.py", line 754, in _get_entrypoint
    cls = registry.load(name)
  File "c:\Users\mk744\AppData\Local\Programs\Python\Python310\lib\site-packages\sqlalchemy\util\langhelpers.py", line 374, in load
    raise exc.NoSuchModuleError(
sqlalchemy.exc.NoSuchModuleError: Can't load plugin: sqlalchemy.dialects:sqlite3

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])
Traceback (most recent call last):
  File "c:\Users\mk744\AppData\Local\Programs\Python\Python310\lib\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
  File "c:\Users\mk744\AppData\Local\Programs\Python\Python310\lib\site-packages\sql\connection.py", line 70, in set
    cls.current = existing or Connection(descriptor, connect_args, creator)
  File "c:\Users\mk744\AppData\Local\Programs\Python\Python310\lib\site-packages\sql\connection.py", line 45, in __init__
    engine = sqlalchemy.create_engine(
  File "<string>", line 2, in create_engine
  File "c:\Users\mk744\AppData\Local\Programs\Python\Python310\lib\site-packages\sqlalchemy\util\deprecations.py", line 281, in warned
    return fn(*args, **kwargs)  # type: ignore[no-any-return]
  File "c:\Users\mk744\AppData\Local\Programs\Python\Python310\lib\site-packages\sqlalchemy\engine\create.py", line 552, in create_engine
    entrypoint = u._get_entrypoint()
  File "c:\Users\mk744\AppData\Local\Programs\Python\Python310\lib\site-packages\sqlalchemy\engine\url.py", line 754, in _get_entrypoint
    cls = registry.load(name)
  File "c:\Users\mk744\AppData\Local\Programs\Python\Python310\lib\site-packages\sqlalchemy\util\langhelpers.py", line 374, in load
    raise exc.NoSuchModuleError(
sqlalchemy.exc.NoSuchModuleError: Can't load plugin: sqlalchemy.dialects:sqlite3

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [20]:
%%sql
SELECT * FROM Product_id

Traceback (most recent call last):
  File "c:\Users\mk744\AppData\Local\Programs\Python\Python310\lib\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
  File "c:\Users\mk744\AppData\Local\Programs\Python\Python310\lib\site-packages\sql\connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [40]:
my_string = "hello world"
print(my_string[5])